<h3>Please contact via email </h3>

    <a href="mailto:Support@homedecor.com">Support@homedecor.com</a>

  <div>
      <a > Address : HOME DECOR , 
      15 STREET,NOTTINGHAM-NG1 3AQ UNITED KINGDOM </a>
  </div>
  <div>
      <li class="list-inline-item mt-3 mt-lg-0 mx-1">
          <a class="d-block bm-social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
              <span class="h1 mb-1 mx-auto bm-social-circle">
                  
                  <i class="fab fa-facebook-f"> </i>
              </span>
              <small>Facebook</small>
          </a>
      </li>
  </div>

