<h3>Please contact via email </h3>

    <a href="mailto:Support@homedecor.com">Support@homedecor.com</a>

  <div>
      <a > Address : HOME DECOR , 
      15 STREET,NOTTINGHAM-NG1 3AQ UNITED KINGDOM </a>
  </div>

    <footer>
        <button type="button" class="btn-facebook">Basic</button>
    </footer>

